 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/jetx.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 337px 57px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#292d33, #999999);
}

.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-weight: 400;
  margin: 59px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: -26px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 738px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  margin: 36px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px 141px 0 140px;
}

.u-section-2 .u-image-1 {
  height: 259px;
  width: 340px;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 48px 0 72px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  margin: 36px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 141px 0 140px;
}

.u-section-2 .u-image-2 {
  height: 259px;
  width: 340px;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 48px 0 72px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  margin: 36px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px 141px 0 140px;
}

.u-section-2 .u-image-3 {
  height: 259px;
  width: 340px;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  margin: 20px 48px 0 72px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 609px;
  }

  .u-section-2 .u-text-3 {
    width: 99px;
    margin-left: 40px;
    margin-right: 41px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
    width: 260px;
  }

  .u-section-2 .u-text-6 {
    width: 99px;
    margin-left: 40px;
    margin-right: 41px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
    width: 260px;
  }

  .u-section-2 .u-text-9 {
    width: 99px;
    margin-left: 40px;
    margin-right: 41px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
    width: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 1399px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#999999, #999999);
}

.u-section-3 .u-sheet-1 {
  min-height: 435px;
}

.u-section-3 .u-products-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 434px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px 8px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  height: 213px;
  width: 187px;
  outline: red dashed 1px;
  margin: 17px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px 8px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  height: 213px;
  width: 187px;
  outline: red dashed 1px;
  margin: 17px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px 8px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-image-3 {
  height: 213px;
  width: 187px;
  margin: 17px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px 8px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-image-4 {
  height: 213px;
  width: 187px;
  margin: 17px auto 0;
}

.u-section-3 .u-form-1 {
  height: 67px;
  margin: -138px 872px 0 17px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-3 .u-label-1 {
  font-size: 0.7em;
}

.u-section-3 .u-input-1 {
  --radius: 8px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --radius: 8px;
  padding: 9px 20px 10px 18px;
}

.u-section-3 .u-form-2 {
  height: 67px;
  margin: -67px 587px 0 302px;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-input-2 {
  --radius: 8px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  --radius: 8px;
  padding: 9px 20px 10px 18px;
}

.u-section-3 .u-form-3 {
  height: 67px;
  margin: -67px 302px 0 587px;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-input-3 {
  --radius: 8px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  --radius: 8px;
  padding: 9px 20px 10px 18px;
}

.u-section-3 .u-form-4 {
  height: 67px;
  margin: -67px 17px 60px 872px;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-input-4 {
  --radius: 8px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  --radius: 8px;
  padding: 9px 20px 10px 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 358px;
  }

  .u-section-3 .u-image-4 {
    outline: red dashed 1px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 689px;
    margin-left: 0;
  }

  .u-section-3 .u-form-group-1 {
    --radius: 3px;
    border-style: solid;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    padding: 7px 27px 7px 26px;
  }

  .u-section-3 .u-label-1 {
    font-size: 0.7rem;
  }

  .u-section-3 .u-form-2 {
    margin-right: 487px;
    margin-left: 202px;
  }

  .u-section-3 .u-form-3 {
    margin-right: 202px;
    margin-left: 487px;
  }

  .u-section-3 .u-form-4 {
    margin-right: 0;
    margin-left: 689px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1097px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 469px;
  }

  .u-section-3 .u-form-2 {
    margin-right: 377px;
    margin-left: 92px;
  }

  .u-section-3 .u-form-3 {
    margin-right: 92px;
    margin-left: 377px;
  }

  .u-section-3 .u-form-4 {
    margin-left: 469px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 289px;
  }

  .u-section-3 .u-form-2 {
    margin-right: 287px;
    margin-left: 2px;
  }

  .u-section-3 .u-form-3 {
    margin-right: 2px;
    margin-left: 287px;
  }

  .u-section-3 .u-form-4 {
    margin-left: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    margin-right: 89px;
  }

  .u-section-3 .u-form-2 {
    margin-right: 89px;
    margin-left: 0;
  }

  .u-section-3 .u-form-3 {
    margin-right: 0;
    margin-left: 89px;
  }

  .u-section-3 .u-form-4 {
    margin-left: 89px;
  }
} .u-section-4 {
  background-image: linear-gradient(#999999, #db545a);
}

.u-section-4 .u-sheet-1 {
  min-height: 364px;
}

.u-section-4 .u-text-1 {
  margin: 38px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 32px 59px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 38px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 795px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 31px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 315px;
  background-image: url("../images/phone_charge.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 315px;
  background-image: url("../images/Audio.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-5 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }

  .u-section-5 .u-btn-2 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 741px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 750px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-6 .u-image-1 {
  min-height: 315px;
  background-image: url("../images/Volante.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-2 {
  min-height: 315px;
  background-image: url("../images/Designer.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }

  .u-section-6 .u-btn-2 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}