body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.container form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.container form input[type="email"],
.container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4e01dc; /* Cambio del colore del bottone */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container form input[type="submit"]:hover {
    background-color: #009dff; /* Cambio del colore al passaggio del mouse */
}

.container form p {
    margin-top: 20px;
    text-align: center;
    color: #777;
}

.container form a {
    color: #007bff;
    text-decoration: none;
}

.container form a:hover {
    text-decoration: underline;
}